.password-card{
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 6px;
}
.icon{
    margin-right: 10px;
}
.icon-color{
    color: red;
}
.password{
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
}