.main{
    height: 100vh;
    width: 100%;
}
.book-details-card{
    display: flex;
    width: 100%;
    padding: 10px 50px;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .book-details-card{
        padding: 5px 10px;
        flex-direction: column;
    }
}

.book-details-card img{
    width: 500px;
    height: 500px;
}
.book-details{
    padding: 20px;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .book-details-card img{
        order: 0;
        width: 300px;
        height: 300px;
    }
    .book-details{
        order: 1;
    }
}

.book-main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 364px) {
    .book-main{
        padding: 10px;
        width: 100%;
    }
}
.book-main div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.book-main a{
    font-size: 20px;
    font-style: oblique;
}
.book-main h2{
    font-size: 30px;
    color: #2b2a2a;
}
.book-main p{
    font-size: 18px;
    color: #474747;
    font-style: oblique;
    padding: 10px;
}
.book-main h1{
    font-size: 40px;
    color: #f72e2e;
    align-self: flex-end;
    /* padding: 6px; */
    border-radius: 6px;
    width: max-content;
    text-shadow: #2b2a2a;
}
@media screen and (max-width: 364px) {
    .book-main a{
        font-size: 15px;
    }
    .book-main h2{
        font-size: 18px;
    }
    .book-main p{
        font-size: 14px;
    }
    .book-main h1{
        /* padding: 5px; */
        font-size: 20px;
    }
}
@media screen and (min-width: 365px) and (max-width: 768px){
    .book-main a{
        font-size: 18px;
    }
    .book-main h2{
        font-size: 20px;
    }
    .book-main p{
        font-size: 16px;
    }
    .book-main h1{
        /* padding: 5px; */
        font-size: 22px;
    }
}
.book-main span{
    color: #3b2ef7;
}
.book-data{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
}
.book-data div{
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}
.book-data h1{
    color: #0e0b38;
    font-size: 20px;
    text-decoration: underline #3b2ef7;
    width: 300px;
}
.book-data p{
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #2b2a2a;
    width: 300px;
    margin-top: 5px;
}
@media screen and (max-width: 364px) {
    .book-data p{
        font-size: 14px;
        width: 100%;
    }
    .book-data h1{
        font-size: 15px;
    }
    .book-data div{
        gap: 10px;
    }
    .book-data{
        margin-top: 10px;
    }
}
@media screen and (min-width: 365px) and (max-width: 768px){
    .book-data p{
        font-size: 16px;
        width: 100%;
    }
    .book-data h1{
        font-size: 18px;
    }
    .book-data div{
        gap: 12px;
    }
    .book-data{
        margin-top: 20px;
    }
}