.books{
    height: 100vh;
    width: 100%;
}

.loading{
    background-color: rgb(255, 255, 255);
    background-size: cover;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.books-main{
    background-color: rgb(255, 255, 255);
    background-size: cover;
    margin: 0px;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.search-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: 50%;
    border: #858484 solid 1px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
@media screen and (min-width: 365px) and (max-width: 768px){
    .search-card{
        width: 60%;
        padding: 6px;
    }
}
@media screen and (max-width: 364px) {
    .search-card{
        width: 80%;
        padding: 5px;
    }
}
.search-card:hover{
    border-bottom: #9eafe2 2px solid;
}
.search-card input{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 10px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: rgb(25, 23, 34);
}
@media screen and (max-width: 364px) {
    .search-card input{
        font-size: 14px;
    }
}
@media screen and (min-width: 365px) and (max-width: 768px){
    .search-card input{
        font-size: 16px;
    }
}
.books-list{
    padding: 0px;
    list-style-type: none;
    width: 100%;
    justify-content: flex-start;
    display: flex;
    overflow-y: auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    margin: 0px;
}
@media screen and (max-width: 364px) {
    .books-list{
        margin-top: 5px;
    }
}
@media screen and (min-width: 365px) and (max-width: 768px){
    .books-list{
        margin-top: 10px;
    }
}

.book-item{
    margin: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 6px;
}

.book-link{
    color: #3d3b3b;
    text-decoration: none;
}
.book-item:hover{
    box-shadow: 0px 2px 3px 1px #858484;
}
@media screen and (max-width: 364px) {
    .book-item{
        margin: 5px;
        box-shadow: 0px 2px 3px 1px #858484;
        width: 100px;
    }
    .book-item:hover{
        box-shadow: none;
    }
}


.book-image{
    display: inline-block;
    object-fit: cover;
    width: 100%;
    height: 200px;
}
@media screen and (max-width: 364px) {
    .book-image{
        height: 100px;
    }
}
@media screen and (min-width: 365px) and (max-width: 768px){
    .book-item{
        margin: 6px;
        box-shadow: 0px 2px 3px 1px #858484;
        width: 150px;
    }
    .book-image{
        height: 150px;
    }
}
.book-image:hover{
    object-position: center 30%;
    height: 200px;
}

.book-detail{
    width: 100%;
    padding: 10px;
    text-align: center;
}
@media screen and (max-width: 364px) {
    .book-detail{
        padding: 6px;
    }
}

.book-title{
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    overflow-y: hidden;
}
@media screen and (max-width: 364px) {
    .book-title{
        font-size: 10px;
        font-weight: 600;
        height: 25px;
        overflow-y: hidden;
    }
}
@media screen and (min-width: 365px) and (max-width: 768px){
    .book-title{
        font-size: 12px;
        height: 30px;
    }
}

.no-data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}
.no-data img{
    width: 400px;
}
.no-data h1{
    margin: 0px;
}
@media screen and (max-width: 364px) {
    .no-data{
        height: 70vh;
    }
    .no-data img{
        width: 200px;
    }
    .no-data h1{
        font-size: 20px;
    }
    .no-data p{
        font-size: 14px;
    }
}
@media screen and (min-width: 365px) and (max-width: 768px){
    .no-data img{
        width: 300px;
    }
    .no-data h1{
        font-size: 25px;
    }
    .no-data p{
        width: 80%;
        text-align: center;
        font-size: 16px;
    }
}