.home-main-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.heading-card{
    padding: 20px;
}
@media screen and (max-width: 576px) {
    .heading-card{
        padding: 10px;
        order: 1;
    }
    .home-main-card{
        flex-direction: column;
    }
}
.heading-card h1{
    color: #5c5a5a;
    font-size: 40px;
    font-weight: 700;
}
.heading-card p{
    color: #949393;
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0px;
}
.heading-card button{
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    background-color: rgb(59, 114, 233);
}
@media screen and (max-width: 576px) {
    .heading-card h1{
        font-size: 30px;
    }
    .heading-card p{
        font-size: 12px;
        margin: 10px 0px;
    }
    .heading-card button{
        padding: 8px 16px;
    }
}
.image-card{
    background-color: #fff;
    padding: 30px;
    width: 100%;
}
.image-card img{
    border-radius: 50% 0% 50% 0%;
    height: 400px;
    width: 100%;
}
@media screen and (max-width: 576px) {
    .image-card{
        height: 200px;
        padding: 10px;
    }
    .image-card img{
        border-radius: 0% 0% 30% 30%;
        height: 190px;
    }
}

