.header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    /* height: 10vh; */
    width: 100%;
    box-shadow: 0px 0px 3px 1px #cecbcb;
    background-color: #f3f3f3;
}

@media screen and (max-width: 576px) {
    .header-main{
        padding: 0px 20px;
    }
}
.header-logo{
    height: 60px;
}
@media screen and (max-width: 576px) {
    .header-logo{
        height: 40px;
    }
}
.icons-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
}

@media screen and (max-width: 576px) {
    .icons{
        display: none;
    }
}
.logout-btn{
    padding: 6px 15px;
    background-color: #5d80e7;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
}
@media screen and (max-width: 576px) {
    .logout-btn{
        padding: 5px 10px;
    }
}