
.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-image: url(../../images/images.jpeg);
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 576px) {
    .login-container{
        padding: 10px;
    }
}
.login-card{
    background-color: rgba(255, 244, 244, 0.6);
    padding: 20px;
    display: flex;
    width: 400px;
    box-shadow: 0px 0px 1px 1px #807f7f;
    border-radius: 10px;
}
@media screen and (max-width: 576px) {
    .login-card{
        width: 350px;
        padding: 10px;
    }
}
.login-card div{
    width: 100%;
}
.login-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}
.login-form label{
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 18px;
    margin-bottom: 3px;
}
@media screen and (max-width: 576px) {
    .login-form label{
        font-size: 14px;
        margin-top: 14px;
    }
}

.input{
    padding: 10px;
    width: 100%;
    border: 1px solid #ffffff;
    outline: none;
    background-color: transparent;
    border-radius: 6px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    /* margin-bottom: 20px; */
}

@media screen and (max-width: 576px) {
    .input{
        font-size: 14px;
    }
}
.login-form button{
    margin-top: 18px;
    padding: 10px 20px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    /* margin-bottom: 20px; */
    cursor: pointer;
    background-color: #113bad;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
@media screen and (max-width: 576px) {
    .login-form{
        padding: 10px;
    }
    .login-form label{
        font-size: 12px;
    }
}

.login-link-card{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    color: #ffffff;
}
.login-link-card p{
    margin: 0px;
    margin-right: 5px;
}
.err-msg{
    color: #f10b0b;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 15px;
}
.star-msg{
    color: #f10b0b;
    font-size: 17px;
}
.login-link{
    /* text-decoration: none; */
    color: rgb(16, 38, 235);
    font-weight: 600;
}

.login-head{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin: 0px;
}
@media screen and (max-width: 576px) {
    .login-head{
        font-size: 26px;
    }
}